@import "~bootstrap/scss/bootstrap";
@import  "./variables.scss";


body {
    font-size: 1.5em;
    font-family: $primaryBodyFont;
    background-image: $backgroundImg;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primaryBodyColor;
    text-shadow: $setShadow;
  }

.title, h1, h4{
  font-family: $primaryTitleFont;
  font-weight: 700;
}

.icons {
  height: 100%;
  padding: 20px 0 20px 0;
}

.displayCharacter{
  //Round All corners
  @include border-radius(5px);
  //Unround Bottom
  @include border-radius-noBottom;
  width: auto;
  height: 290px;
  background: $backgroundFade;
  text-align: center;
  padding-top: 40px;
}

.saveStats{
  //Round All Corners
  @include border-radius(15px); 
  //Unround Top
  @include border-radius-noTop;
  height: 80px;
  text-align: center;
  background: $backgroundFade;
  margin-bottom: 1rem;
}

//Control size for added cols 
.boxes{
  width: auto;
  height: 150px;
  padding-bottom: 1rem;
}

.modal-title, .modal-body{
  color: $primaryModalColor;
  text-shadow: none;
}