@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: sans-serif;
    background-image: url('../images/tavern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }

img {
  width: auto;
  height: 50%;
}

.displayCharacter{
  width: auto;
  height: 150px;
}

.saveStats{
  height: 100px;
}

.row.header {
  height: 20%;
}

.modal-title{
  color: #000000;
}

.modal-body{
  color: #000000;
}